.sep {
    height: 1px;
    background-color: rgb(210, 210, 210);
    width: 90vw;
    margin: 6px auto;
}
.input {
    border: .5px solid rgb(210, 210, 210);
    background-color: rgba(240, 240, 240, .5);
    border-radius: 3px;
    margin-top: 6px;
    font-size: .9em !important;
}