.menu {
    color: white !important;
}
.card {
    padding: 6px;
    border-radius: 3px;
    border: .3px solid rgb(210, 210, 210);
    background-color: white;
}
.title {
    font-size: 15px;
}