<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header padding color="mytheme" class="mybg head">
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
          <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    <ion-row justify-content-center>
      <ion-img src="assets/images/login.png" class="head-image"></ion-img>
    </ion-row>
  </ion-header>

<ion-content padding>
  <ion-text><h3 no-margin margin-bottom text-center class="title">Forgot your password?</h3></ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label><ion-text class="small">Type your email address</ion-text></ion-label>
        <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="mytheme" (click)="reset()"><strong class="white">Reset Password</strong></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
