
<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->
 <ion-header>
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Data Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none">
    <ion-row class="full">
      <ion-col>
        <ion-row>
          <h4 class="medium" no-margin>Facebook</h4>
        </ion-row>
        <ion-row>
          <h4 class="small" no-margin>Use data collected to personalize advertising content</h4>
        </ion-row>
      </ion-col>
      <ion-col size="3" float-right>
        <ion-toggle color="dark" float-right></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>