<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header>
  <ion-toolbar color="mytheme">
    <ion-title color="light">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" color="light" slot="icon-only" (click)="dismiss()" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div class="textSection">
      {{value}}
  </div>

</ion-content>
