<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-row align-items-center>
      <ion-input type="text" padding-start placeholder="I'm shopping for..." class="search-bar"></ion-input>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text><strong>
      <h5 no-margin>Trending Searches</h5>
    </strong></ion-text>
  <ion-row margin-vertical align-items-center class="row">
    <div class="btn" *ngFor="let b of trending">
      <ion-text class="filter-btn">{{b}}</ion-text>
    </div>
  </ion-row>
  <div class="sep" margin-bottom></div>
  <ion-row>
    <ion-col size="8">
      <ion-text><strong>
          <h5 no-margin>Recently Viewed</h5>
        </strong></ion-text>
    </ion-col>
    <ion-col size="4" text-end>
      <ion-text [routerLink]="['/home', {'id':1}]" routerDirection="forward"><span class="view">View All</span></ion-text>
    </ion-col>
  </ion-row>
  <div>
    <ion-row>
      <ion-row class="container-outer">
        <div *ngFor="let spon of recent" class="container-inner">
          <img [src]="spon.image[0]" class="spon-img">
        </div>
      </ion-row>
    </ion-row>
  </div>
</ion-content>